# coding: utf-8

"""
    Akeneo PIM REST API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AssetApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_assets_code(self, asset_family_code, code, **kwargs):  # noqa: E501
        """Delete an asset  # noqa: E501

        This endpoint allows you to delete a given asset. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_assets_code(asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_assets_code_with_http_info(asset_family_code, code, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_assets_code_with_http_info(asset_family_code, code, **kwargs)  # noqa: E501
            return data

    def delete_assets_code_with_http_info(self, asset_family_code, code, **kwargs):  # noqa: E501
        """Delete an asset  # noqa: E501

        This endpoint allows you to delete a given asset. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_assets_code_with_http_info(asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['asset_family_code', 'code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_assets_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'asset_family_code' is set
        if ('asset_family_code' not in params or
                params['asset_family_code'] is None):
            raise ValueError("Missing the required parameter `asset_family_code` when calling `delete_assets_code`")  # noqa: E501
        # verify the required parameter 'code' is set
        if ('code' not in params or
                params['code'] is None):
            raise ValueError("Missing the required parameter `code` when calling `delete_assets_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_family_code' in params:
            path_params['asset_family_code'] = params['asset_family_code']  # noqa: E501
        if 'code' in params:
            path_params['code'] = params['code']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/asset-families/{asset_family_code}/assets/{code}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_assets(self, authorization, asset_family_code, **kwargs):  # noqa: E501
        """Get the list of the assets of a given asset family  # noqa: E501

        This endpoint allows you to get a list of assets of a given asset family. Assets are paginated. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_assets(authorization, asset_family_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Equal to 'Bearer xx', where 'xx' is the access token. (required)
        :param str asset_family_code: Code of the asset family (required)
        :param str search: Filter assets, for more details see the <a href=\"/documentation/filter.html#filter-assets\">Asset filters</a> section
        :param str channel: Filter asset values to return scopable asset attributes for the given channel as well as the non localizable/non scopable asset attributes, for more details see the <a href=\"/documentation/filter.html#asset-values-by-channel\">Filter asset values by channel</a> section
        :param str locales: Filter asset values to return localizable attributes for the given locales as well as the non localizable/non scopable asset attributes, for more details see the <a href=\"/documentation/filter.html#asset-values-by-locale\">Filter asset values by locale</a> section
        :param str search_after: Cursor when using the `search_after` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html\">Pagination</a> section
        :return: Asset
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_assets_with_http_info(authorization, asset_family_code, **kwargs)  # noqa: E501
        else:
            (data) = self.get_assets_with_http_info(authorization, asset_family_code, **kwargs)  # noqa: E501
            return data

    def get_assets_with_http_info(self, authorization, asset_family_code, **kwargs):  # noqa: E501
        """Get the list of the assets of a given asset family  # noqa: E501

        This endpoint allows you to get a list of assets of a given asset family. Assets are paginated. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_assets_with_http_info(authorization, asset_family_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Equal to 'Bearer xx', where 'xx' is the access token. (required)
        :param str asset_family_code: Code of the asset family (required)
        :param str search: Filter assets, for more details see the <a href=\"/documentation/filter.html#filter-assets\">Asset filters</a> section
        :param str channel: Filter asset values to return scopable asset attributes for the given channel as well as the non localizable/non scopable asset attributes, for more details see the <a href=\"/documentation/filter.html#asset-values-by-channel\">Filter asset values by channel</a> section
        :param str locales: Filter asset values to return localizable attributes for the given locales as well as the non localizable/non scopable asset attributes, for more details see the <a href=\"/documentation/filter.html#asset-values-by-locale\">Filter asset values by locale</a> section
        :param str search_after: Cursor when using the `search_after` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html\">Pagination</a> section
        :return: Asset
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'asset_family_code', 'search', 'channel', 'locales', 'search_after']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_assets" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_assets`")  # noqa: E501
        # verify the required parameter 'asset_family_code' is set
        if ('asset_family_code' not in params or
                params['asset_family_code'] is None):
            raise ValueError("Missing the required parameter `asset_family_code` when calling `get_assets`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_family_code' in params:
            path_params['asset_family_code'] = params['asset_family_code']  # noqa: E501

        query_params = []
        if 'search' in params:
            query_params.append(('search', params['search']))  # noqa: E501
        if 'channel' in params:
            query_params.append(('channel', params['channel']))  # noqa: E501
        if 'locales' in params:
            query_params.append(('locales', params['locales']))  # noqa: E501
        if 'search_after' in params:
            query_params.append(('search_after', params['search_after']))  # noqa: E501

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', '_links', '_embedded', 'code', 'message'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/asset-families/{asset_family_code}/assets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Asset',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_assets_code(self, authorization, asset_family_code, code, **kwargs):  # noqa: E501
        """Get an asset of a given asset family  # noqa: E501

        This endpoint allows you to get the information about a given asset for a given asset family. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_assets_code(authorization, asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Equal to 'Bearer xx', where 'xx' is the access token. (required)
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: InlineResponse20032
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_assets_code_with_http_info(authorization, asset_family_code, code, **kwargs)  # noqa: E501
        else:
            (data) = self.get_assets_code_with_http_info(authorization, asset_family_code, code, **kwargs)  # noqa: E501
            return data

    def get_assets_code_with_http_info(self, authorization, asset_family_code, code, **kwargs):  # noqa: E501
        """Get an asset of a given asset family  # noqa: E501

        This endpoint allows you to get the information about a given asset for a given asset family. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_assets_code_with_http_info(authorization, asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Equal to 'Bearer xx', where 'xx' is the access token. (required)
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: InlineResponse20032
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'asset_family_code', 'code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_assets_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_assets_code`")  # noqa: E501
        # verify the required parameter 'asset_family_code' is set
        if ('asset_family_code' not in params or
                params['asset_family_code'] is None):
            raise ValueError("Missing the required parameter `asset_family_code` when calling `get_assets_code`")  # noqa: E501
        # verify the required parameter 'code' is set
        if ('code' not in params or
                params['code'] is None):
            raise ValueError("Missing the required parameter `code` when calling `get_assets_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_family_code' in params:
            path_params['asset_family_code'] = params['asset_family_code']  # noqa: E501
        if 'code' in params:
            path_params['code'] = params['code']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/asset-families/{asset_family_code}/assets/{code}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20032',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_asset_code(self, body, asset_family_code, code, **kwargs):  # noqa: E501
        """Update/create an asset  # noqa: E501

        This endpoint allows you to update a given asset of a given asset family. Learn more about the <a href=\"/documentation/update.html#patch-asset-attribute-values\">Update behavior</a>. Note that if the asset does not already exist for the given asset family, it creates it. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_asset_code(body, asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AssetsCodeBody body: (required)
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patch_asset_code_with_http_info(body, asset_family_code, code, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_asset_code_with_http_info(body, asset_family_code, code, **kwargs)  # noqa: E501
            return data

    def patch_asset_code_with_http_info(self, body, asset_family_code, code, **kwargs):  # noqa: E501
        """Update/create an asset  # noqa: E501

        This endpoint allows you to update a given asset of a given asset family. Learn more about the <a href=\"/documentation/update.html#patch-asset-attribute-values\">Update behavior</a>. Note that if the asset does not already exist for the given asset family, it creates it. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_asset_code_with_http_info(body, asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AssetsCodeBody body: (required)
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'asset_family_code', 'code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_asset_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_asset_code`")  # noqa: E501
        # verify the required parameter 'asset_family_code' is set
        if ('asset_family_code' not in params or
                params['asset_family_code'] is None):
            raise ValueError("Missing the required parameter `asset_family_code` when calling `patch_asset_code`")  # noqa: E501
        # verify the required parameter 'code' is set
        if ('code' not in params or
                params['code'] is None):
            raise ValueError("Missing the required parameter `code` when calling `patch_asset_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_family_code' in params:
            path_params['asset_family_code'] = params['asset_family_code']  # noqa: E501
        if 'code' in params:
            path_params['code'] = params['code']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message', '_links'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/asset-families/{asset_family_code}/assets/{code}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_assets(self, body, asset_family_code, **kwargs):  # noqa: E501
        """Update/create several assets  # noqa: E501

        This endpoint allows you to update and/or create several assets of one given asset family at once. Learn more about the <a href=\"/documentation/update.html#patch-asset-attribute-values\">Update behavior</a>. Note that if the asset does not already exist for the given asset family, it creates it. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_assets(body, asset_family_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[AssetFamilyCodeAssetsBody] body: (required)
        :param str asset_family_code: Code of the asset family (required)
        :return: list[InlineResponse20025]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patch_assets_with_http_info(body, asset_family_code, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_assets_with_http_info(body, asset_family_code, **kwargs)  # noqa: E501
            return data

    def patch_assets_with_http_info(self, body, asset_family_code, **kwargs):  # noqa: E501
        """Update/create several assets  # noqa: E501

        This endpoint allows you to update and/or create several assets of one given asset family at once. Learn more about the <a href=\"/documentation/update.html#patch-asset-attribute-values\">Update behavior</a>. Note that if the asset does not already exist for the given asset family, it creates it. This endpoint is case sensitive on the asset family code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_assets_with_http_info(body, asset_family_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[AssetFamilyCodeAssetsBody] body: (required)
        :param str asset_family_code: Code of the asset family (required)
        :return: list[InlineResponse20025]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'asset_family_code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_assets" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_assets`")  # noqa: E501
        # verify the required parameter 'asset_family_code' is set
        if ('asset_family_code' not in params or
                params['asset_family_code'] is None):
            raise ValueError("Missing the required parameter `asset_family_code` when calling `patch_assets`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_family_code' in params:
            path_params['asset_family_code'] = params['asset_family_code']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/asset-families/{asset_family_code}/assets', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20025]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
