# coding: utf-8

"""
    Akeneo PIM REST API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AssetAttributeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_asset_families_code_attributes(self, asset_family_code, **kwargs):  # noqa: E501
        """Get the list of attributes of a given asset family  # noqa: E501

        This endpoint allows you to get the list of attributes of a given asset family.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_asset_families_code_attributes(asset_family_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str asset_family_code: Code of the asset family (required)
        :return: list[InlineResponse20028]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_asset_families_code_attributes_with_http_info(asset_family_code, **kwargs)  # noqa: E501
        else:
            (data) = self.get_asset_families_code_attributes_with_http_info(asset_family_code, **kwargs)  # noqa: E501
            return data

    def get_asset_families_code_attributes_with_http_info(self, asset_family_code, **kwargs):  # noqa: E501
        """Get the list of attributes of a given asset family  # noqa: E501

        This endpoint allows you to get the list of attributes of a given asset family.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_asset_families_code_attributes_with_http_info(asset_family_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str asset_family_code: Code of the asset family (required)
        :return: list[InlineResponse20028]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['asset_family_code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_asset_families_code_attributes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'asset_family_code' is set
        if ('asset_family_code' not in params or
                params['asset_family_code'] is None):
            raise ValueError("Missing the required parameter `asset_family_code` when calling `get_asset_families_code_attributes`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_family_code' in params:
            path_params['asset_family_code'] = params['asset_family_code']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/asset-families/{asset_family_code}/attributes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20028]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_asset_family_attributes_code(self, asset_family_code, code, **kwargs):  # noqa: E501
        """Get an attribute of a given asset family  # noqa: E501

        This endpoint allows you to get the information about a given attribute for a given asset family.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_asset_family_attributes_code(asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: InlineResponse20029
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_asset_family_attributes_code_with_http_info(asset_family_code, code, **kwargs)  # noqa: E501
        else:
            (data) = self.get_asset_family_attributes_code_with_http_info(asset_family_code, code, **kwargs)  # noqa: E501
            return data

    def get_asset_family_attributes_code_with_http_info(self, asset_family_code, code, **kwargs):  # noqa: E501
        """Get an attribute of a given asset family  # noqa: E501

        This endpoint allows you to get the information about a given attribute for a given asset family.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_asset_family_attributes_code_with_http_info(asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: InlineResponse20029
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['asset_family_code', 'code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_asset_family_attributes_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'asset_family_code' is set
        if ('asset_family_code' not in params or
                params['asset_family_code'] is None):
            raise ValueError("Missing the required parameter `asset_family_code` when calling `get_asset_family_attributes_code`")  # noqa: E501
        # verify the required parameter 'code' is set
        if ('code' not in params or
                params['code'] is None):
            raise ValueError("Missing the required parameter `code` when calling `get_asset_family_attributes_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_family_code' in params:
            path_params['asset_family_code'] = params['asset_family_code']  # noqa: E501
        if 'code' in params:
            path_params['code'] = params['code']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/asset-families/{asset_family_code}/attributes/{code}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20029',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_asset_family_attributes_code(self, body, asset_family_code, code, **kwargs):  # noqa: E501
        """Update/create an attribute of a given asset family  # noqa: E501

        This endpoint allows you to update a given attribute for a given asset family. Note that if the attribute does not already exist for the given asset family, it creates it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_asset_family_attributes_code(body, asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AttributesCodeBody2 body: (required)
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patch_asset_family_attributes_code_with_http_info(body, asset_family_code, code, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_asset_family_attributes_code_with_http_info(body, asset_family_code, code, **kwargs)  # noqa: E501
            return data

    def patch_asset_family_attributes_code_with_http_info(self, body, asset_family_code, code, **kwargs):  # noqa: E501
        """Update/create an attribute of a given asset family  # noqa: E501

        This endpoint allows you to update a given attribute for a given asset family. Note that if the attribute does not already exist for the given asset family, it creates it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_asset_family_attributes_code_with_http_info(body, asset_family_code, code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AttributesCodeBody2 body: (required)
        :param str asset_family_code: Code of the asset family (required)
        :param str code: Code of the resource (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'asset_family_code', 'code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_asset_family_attributes_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patch_asset_family_attributes_code`")  # noqa: E501
        # verify the required parameter 'asset_family_code' is set
        if ('asset_family_code' not in params or
                params['asset_family_code'] is None):
            raise ValueError("Missing the required parameter `asset_family_code` when calling `patch_asset_family_attributes_code`")  # noqa: E501
        # verify the required parameter 'code' is set
        if ('code' not in params or
                params['code'] is None):
            raise ValueError("Missing the required parameter `code` when calling `patch_asset_family_attributes_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_family_code' in params:
            path_params['asset_family_code'] = params['asset_family_code']  # noqa: E501
        if 'code' in params:
            path_params['code'] = params['code']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message', '_links'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/asset-families/{asset_family_code}/attributes/{code}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
