# coding: utf-8

"""
    Akeneo PIM REST API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PAMAssetVariationFileApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_variation_files_channel_code_locale_code(self, authorization, asset_code, channel_code, locale_code, **kwargs):  # noqa: E501
        """Get a variation file  # noqa: E501

        This endpoint allows you to get the information about a variation file of a given PAM asset.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_variation_files_channel_code_locale_code(authorization, asset_code, channel_code, locale_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Equal to 'Bearer xx', where 'xx' is the access token. (required)
        :param str asset_code: Code of the asset (required)
        :param str channel_code: Code of the channel (required)
        :param str locale_code: Code of the locale if the asset is localizable or equal to `no-locale` if the asset is not localizable (required)
        :return: InlineResponse20035
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_variation_files_channel_code_locale_code_with_http_info(authorization, asset_code, channel_code, locale_code, **kwargs)  # noqa: E501
        else:
            (data) = self.get_variation_files_channel_code_locale_code_with_http_info(authorization, asset_code, channel_code, locale_code, **kwargs)  # noqa: E501
            return data

    def get_variation_files_channel_code_locale_code_with_http_info(self, authorization, asset_code, channel_code, locale_code, **kwargs):  # noqa: E501
        """Get a variation file  # noqa: E501

        This endpoint allows you to get the information about a variation file of a given PAM asset.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_variation_files_channel_code_locale_code_with_http_info(authorization, asset_code, channel_code, locale_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Equal to 'Bearer xx', where 'xx' is the access token. (required)
        :param str asset_code: Code of the asset (required)
        :param str channel_code: Code of the channel (required)
        :param str locale_code: Code of the locale if the asset is localizable or equal to `no-locale` if the asset is not localizable (required)
        :return: InlineResponse20035
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'asset_code', 'channel_code', 'locale_code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_variation_files_channel_code_locale_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_variation_files_channel_code_locale_code`")  # noqa: E501
        # verify the required parameter 'asset_code' is set
        if ('asset_code' not in params or
                params['asset_code'] is None):
            raise ValueError("Missing the required parameter `asset_code` when calling `get_variation_files_channel_code_locale_code`")  # noqa: E501
        # verify the required parameter 'channel_code' is set
        if ('channel_code' not in params or
                params['channel_code'] is None):
            raise ValueError("Missing the required parameter `channel_code` when calling `get_variation_files_channel_code_locale_code`")  # noqa: E501
        # verify the required parameter 'locale_code' is set
        if ('locale_code' not in params or
                params['locale_code'] is None):
            raise ValueError("Missing the required parameter `locale_code` when calling `get_variation_files_channel_code_locale_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_code' in params:
            path_params['asset_code'] = params['asset_code']  # noqa: E501
        if 'channel_code' in params:
            path_params['channel_code'] = params['channel_code']  # noqa: E501
        if 'locale_code' in params:
            path_params['locale_code'] = params['locale_code']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/assets/{asset_code}/variation-files/{channel_code}/{locale_code}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20035',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_variation_files_channel_code_locale_code_download(self, authorization, asset_code, channel_code, locale_code, **kwargs):  # noqa: E501
        """Download a variation file  # noqa: E501

        This endpoint allows you to download a given variation file.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_variation_files_channel_code_locale_code_download(authorization, asset_code, channel_code, locale_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Equal to 'Bearer xx', where 'xx' is the access token. (required)
        :param str asset_code: Code of the asset (required)
        :param str channel_code: Code of the channel (required)
        :param str locale_code: Code of the locale if the asset is localizable or equal to `no-locale` if the asset is not localizable (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_variation_files_channel_code_locale_code_download_with_http_info(authorization, asset_code, channel_code, locale_code, **kwargs)  # noqa: E501
        else:
            (data) = self.get_variation_files_channel_code_locale_code_download_with_http_info(authorization, asset_code, channel_code, locale_code, **kwargs)  # noqa: E501
            return data

    def get_variation_files_channel_code_locale_code_download_with_http_info(self, authorization, asset_code, channel_code, locale_code, **kwargs):  # noqa: E501
        """Download a variation file  # noqa: E501

        This endpoint allows you to download a given variation file.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_variation_files_channel_code_locale_code_download_with_http_info(authorization, asset_code, channel_code, locale_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Equal to 'Bearer xx', where 'xx' is the access token. (required)
        :param str asset_code: Code of the asset (required)
        :param str channel_code: Code of the channel (required)
        :param str locale_code: Code of the locale if the asset is localizable or equal to `no-locale` if the asset is not localizable (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'asset_code', 'channel_code', 'locale_code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_variation_files_channel_code_locale_code_download" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_variation_files_channel_code_locale_code_download`")  # noqa: E501
        # verify the required parameter 'asset_code' is set
        if ('asset_code' not in params or
                params['asset_code'] is None):
            raise ValueError("Missing the required parameter `asset_code` when calling `get_variation_files_channel_code_locale_code_download`")  # noqa: E501
        # verify the required parameter 'channel_code' is set
        if ('channel_code' not in params or
                params['channel_code'] is None):
            raise ValueError("Missing the required parameter `channel_code` when calling `get_variation_files_channel_code_locale_code_download`")  # noqa: E501
        # verify the required parameter 'locale_code' is set
        if ('locale_code' not in params or
                params['locale_code'] is None):
            raise ValueError("Missing the required parameter `locale_code` when calling `get_variation_files_channel_code_locale_code_download`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_code' in params:
            path_params['asset_code'] = params['asset_code']  # noqa: E501
        if 'channel_code' in params:
            path_params['channel_code'] = params['channel_code']  # noqa: E501
        if 'locale_code' in params:
            path_params['locale_code'] = params['locale_code']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/assets/{asset_code}/variation-files/{channel_code}/{locale_code}/download', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_variation_files_channel_code_locale_code(self, content_type, asset_code, channel_code, locale_code, **kwargs):  # noqa: E501
        """Upload a new variation file  # noqa: E501

        This endpoint allows you to upload a new variation file for a given PAM asset, channel and locale.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_variation_files_channel_code_locale_code(content_type, asset_code, channel_code, locale_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_type: Equal to 'multipart/form-data', no other value allowed (required)
        :param str asset_code: Code of the asset (required)
        :param str channel_code: Code of the channel (required)
        :param str locale_code: Code of the locale if the asset is localizable or equal to `no-locale` if the asset is not localizable (required)
        :param ChannelCodeLocaleCodeBody body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_variation_files_channel_code_locale_code_with_http_info(content_type, asset_code, channel_code, locale_code, **kwargs)  # noqa: E501
        else:
            (data) = self.post_variation_files_channel_code_locale_code_with_http_info(content_type, asset_code, channel_code, locale_code, **kwargs)  # noqa: E501
            return data

    def post_variation_files_channel_code_locale_code_with_http_info(self, content_type, asset_code, channel_code, locale_code, **kwargs):  # noqa: E501
        """Upload a new variation file  # noqa: E501

        This endpoint allows you to upload a new variation file for a given PAM asset, channel and locale.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_variation_files_channel_code_locale_code_with_http_info(content_type, asset_code, channel_code, locale_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_type: Equal to 'multipart/form-data', no other value allowed (required)
        :param str asset_code: Code of the asset (required)
        :param str channel_code: Code of the channel (required)
        :param str locale_code: Code of the locale if the asset is localizable or equal to `no-locale` if the asset is not localizable (required)
        :param ChannelCodeLocaleCodeBody body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_type', 'asset_code', 'channel_code', 'locale_code', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_variation_files_channel_code_locale_code" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_type' is set
        if ('content_type' not in params or
                params['content_type'] is None):
            raise ValueError("Missing the required parameter `content_type` when calling `post_variation_files_channel_code_locale_code`")  # noqa: E501
        # verify the required parameter 'asset_code' is set
        if ('asset_code' not in params or
                params['asset_code'] is None):
            raise ValueError("Missing the required parameter `asset_code` when calling `post_variation_files_channel_code_locale_code`")  # noqa: E501
        # verify the required parameter 'channel_code' is set
        if ('channel_code' not in params or
                params['channel_code'] is None):
            raise ValueError("Missing the required parameter `channel_code` when calling `post_variation_files_channel_code_locale_code`")  # noqa: E501
        # verify the required parameter 'locale_code' is set
        if ('locale_code' not in params or
                params['locale_code'] is None):
            raise ValueError("Missing the required parameter `locale_code` when calling `post_variation_files_channel_code_locale_code`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'asset_code' in params:
            path_params['asset_code'] = params['asset_code']  # noqa: E501
        if 'channel_code' in params:
            path_params['channel_code'] = params['channel_code']  # noqa: E501
        if 'locale_code' in params:
            path_params['locale_code'] = params['locale_code']  # noqa: E501

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-type'] = params['content_type']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'code', 'message', '_links'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/rest/v1/assets/{asset_code}/variation-files/{channel_code}/{locale_code}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
